/*

	custom.css ��� custom styles for Cutline that YOU define

	------------------------------------------------------

	

	This stylesheet will allow you to futureproof your

	changes against future releases and upgrades. I know

	you work hard on your modified styles, and I don't

	want you to feel like every upgrade is a total drag!

	

	Instructions:

	

	Modifying existing Cutline styles to your liking is a

	breeze with this handy stylesheet. The <body> tag

	within the header.php file has been appended with a

	CSS class called "custom," and thanks to this, you now

	have the ability to override ANY style that's declared

	in the original Cutline stylesheet.

	

	In practice, you simply need to copy the CSS for the

	element that you want to change (from style.css) and

	then paste it here. Prefix the new CSS declaration

	with .custom, and then make your tweaks as necessary.

	

	Here's an example:

	

	To change the default color of unvisited links from 

	blue to red (#c00) and remove the default underline, 

	this is what you would do:

	

	.custom a { color: #c00; text-decoration: none; }

	

	Cool? Now get to hackin!

*/



.custom .entry h2 { font-size:1.4em; margin: 5px 0 0 0; padding: 0 0 0 0; line-height: 1.5em; background: url('images/hr_title_sep.gif') 0 100% no-repeat;}

.custom a.comment_link, a.comment_link:visited {

   color: #222;

   text-decoration: none;

   font-style: italic;

   font-weight: bold;

}



.custom a.comment_link:hover {

   color: #222;

   text-decoration: underline;

}



.custom ul.delicious { list-style-type: square; margin-left: 10px; padding: 0; }



.custom ul.delicious li { list-style: square; margin: 0 0 0 10px; padding-left: 5px; }



.custom ul.delicious p.delicious-link { font-size: 1.1em; margin: 0;}



.custom ul.delicious p.delicious-tags { font-size: 0.9em; margin: 0 0 10px 10px; }



.custom ul.delicious p.delicious-extended { margin: 0 0 0 10px; }



.custom img#wpstats{width:0px;height:0px;padding:0px;border:none;overflow:hidden}



.custom #wpstats{width:0px;height:0px;padding:0px;border:none;overflow:hidden}





#trackbackslist li { width: 470px; padding: 1.2em 15px 5px 15px; background: url('images/trackback_bg.gif');  margin: 1.0em 0 1.0em 10px; }



#trackbackslist { font-size:14px; padding-bottom:20px;}



#trackbackslist ul { list-style-type: none; }



#dsq-content #dsq-comments .dsq-comment-rate { display: none; }



#disqus_thread #dsq-content h3 { padding-top:10px; }



#disqus_thread #dsq-content { padding-left:5px; }



#myfooter { text-align: left; padding-top: 20px;}

#myfooter.sidebar_list li.widget { width: 190px; margin: 0 0 2.5em 0; font-size: 1.3em; line-height: 1.4em; float: left;}

#myfooter.sidebar_list li.widget ul { padding-right: 15px;}

#myfooter.sidebar_list li #tag_cloud .widget widget_tag_cloud { padding-right: 20px;}



#myconsultingfooter { text-align: left; padding-top: 20px;}
#myconsultingfooter.sidebar_list li.widget { width: 300px; margin: 0 0 2.5em 0; font-size: 1.3em; line-height: 1.4em; float: left;}
#myconsultingfooter.sidebar_list li.widget ul { padding-right: 15px;}
#myconsultingfooter.sidebar_list li #tag_cloud .widget widget_tag_cloud { padding-right: 20px;}




.custom .entry img.left-nowrap { display: block; padding: 3px; margin: 0.5em 15px 0.5em 0; border: 3px double #bbb; float: none; clear: both; }

		
.custom .reply { font-size: 1.4em; padding-left: 115px;}



.entry img.logo  { margin: 0 15px 0 0; float: left; clear: left; border: none !important; }		